<%- include('header.ejs') %>

    <div class="box" id="heading">
        <h1><%= listTitle %></h1>
    </div>

    <div class="box">

        <form action="/delete" method="post">
            
            <% items.forEach((item) => { %>
                <div class="item">
                    <input type="checkbox" name="checkbox" value="<%= item._id %>" id="" onChange="this.form.submit()">
                    <p name="item">
                        <%= item.name %>
                    </p>
                </div>
           <% });  %> 
           <input type="hidden" id="custId" name="listName" value="<%= listTitle %>">
        </form>

            
            <!-- For each line that is not HTML, we have used scriplet tags <%  %> -->
        
            <form class="item" action="<%= postPath %>" method="post">
                <input type="text" name="newItem" id="" placeholder="Enter New Task" autocomplete="off">
                <button type="submit" name="button">+</button>
            </form>
    </div>

    <%- include('footer.ejs') %>

